

a { text-decoration: none; }
a:hover { text-decoration: underline; }



img.plain { border: 0px; margin: 0px; padding: 0px }
img.node-buttons { border: 0px; margin: 0px; }



div.top { text-align: center; width: 700px; font-size: 10pt; padding: 0px; }
div.single-column-narrow { margin: 3em 25%; }



span.language-visible { background-color: lightgrey; border: 1px solid black; padding: 0.1em 0.5em; margin: 0px 0px 0px 1em; }
span.language-hidden { background-color: white; border: 1px solid black; padding: 0.1em 0.5em; margin: 0px 0px 0px 1em; }
span.node-buttons { margin: 0px 0.5em; }

span.topic-visible { background-color: #f0f0ea; margin: 0px 0px 0px 1em; padding: 0.3em 0.8em 0.1em 0.8em; border-top: 1px solid gray; border-right: 1px solid gray; border-left: 1px solid gray; border-bottom: 1px solid #f0f0ea; }
span.topic-hidden { background-color: white; margin: 0px 0px 0px 1em; padding: 0.1em 0.5em; border: 1px solid gray; }

span.panel-visible { background-color: lightgrey; border: 1px solid black; padding: 0.1em 0.5em; margin: 0px 1em 0px 0px; vertical-align: middle; }	
span.panel-hidden { background-color: white; border: 1px solid black; padding: 0.1em 0.5em; margin: 0px 1em 0px 0px; vertical-align: middle; }	



p.description-screenshot { margin: 1em 25%; }

p { font-size: 100%; color: black; padding: 0px; margin: 0em 0em 0.5em 0em; text-align: left; font-family: Arial, Helvetica, sans-serif; }
p.hat { background-color: #e5ff00; border: 1px solid black; margin: 0em; padding: 0.1em 0.25em; font-size: 85%; }
p.dates { color: darkgray; margin: 0px; padding: 0px; font-size: 85%; text-align: right; letter-spacing: 0.1em; }
p.language-buttons { text-align: right; font-size: 85%; line-height: 200%; color: black; margin: 0px; padding: 0px; }
p.topics-bar { text-align: left; font-size: 85%; margin: 1.5em 0px 0px 0px; padding: 0.2em 0px; border: 0px }
p.panel-switches { text-align: left; width: 100%; font-size: 85%; line-height: 200%; color: black; margin: 1em 1em; padding: 0px; }
p.node-buttons { text-align: center; font-size: 85%; line-height: 200%; color: black; margin: 1em 0px; padding: 0px; }

p.spacer { margin: 0px; padding: 0px }





div.box { border: 1px solid black; background-color: lightgrey; }
div.logo { text-align: left; padding: 0px; margin: 0px; }

ul { font-size: 100%; padding: 0px; font-family: Arial, Helvetica, sans-serif; text-align: left }
ul.enum { margin: 0em 1em 1em 3em; }
ul.topics { list-style-position: inside; list-style-type: square; margin: 0em 0em 0.5em 0em; }

li { font-size: 100%; font-family: Arial, Helvetica, sans-serif; text-align: left }
li.enum { color: black; }
li.topics  { color: black; margin-bottom: 0.5em }

h1 { font-size: 100%; line-height: 120% ; font-family: Arial, Helvetica, sans-serif; text-align: center;  background-color: #fffce4; color: black; padding: 0.25em 0.25em; margin: 1em 0em 0.5em 0em; border-top: 1px solid lightgrey; border-bottom: 1px solid lightgrey; }


table.logo { width: 100%; padding: 0px; margin: 0px; border: 0px; border-collapse: collapse; }
table.tab { width: 100%; padding: 0px; margin: 0px 0px 0px 0px; background-color: #f0f0ea ; border-top: 1px solid gray; border-bottom: 1px solid gray; border-left: 0px; border-right: 0px; border-collapse: collapse }


tbody.logo { width: 100%; padding: 0px; margin: 0px; border: 0px; }
tbody.tab  { width: 100%; padding: 0px; margin: 0px; border: 0px; }


tr.logo { padding: 0px; margin: 0px; border: 0px; width: 100% }
tr.panel-switches  { padding: 0px; margin: 0px; border: 0px; width: 100% }
tr.panel-content { padding: 0px; margin: 0px; border: 0px; width: 100% }

td.logo { padding: 0px; margin: 0px; border: 0px; width: 20% }
td.claim { padding: 0px; margin: 0px; border: 0px; width: 30% }
td.language-buttons { padding: 0px; margin: 0px; border: 0px; width: 50% }
td.panel-switches { padding: 0px; margin: 0px; border-left: 1px solid gray; border-right: 1px solid gray; }

td.spacer-left  { margin: 0px; padding: 0px; border: 0px; border-left: 1px solid gray; }
td.spacer-middle { margin: 0px; padding: 0px; border: 0px }
td.spacer-right  { margin: 0px; padding: 0px; border: 0px; border-right: 1px solid gray; }

td.panel-column { vertical-align: top; padding: 0em 0em 0.5em 0em; margin: 0px; bottom: 0px; }






@media print 
	{
	.no-print { display: none; }
	}

